span.header {
  order: -1;
  font-size: 150%;
}

span.header,
span.score,
span.hiScore {
  flex: 1;
}

div.scoreboard {
  text-align: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-bottom: 10px;
}
