div.card {
  width: 15%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin-left: 10px;
}

div span {
  text-align: center;
  vertical-align: middle;
  width: 100%;
  height: default;
}